{% extends 'platos/basePlato.html.twig' %}

{% block contenido %}

<div class="inicio">
    <img style="margin-left: 25%; margin-top:5%" src="https://hanamicastro.com/wp-content/uploads/2018/02/logo.png" />
</div>

{% endblock %}